body {
    background-color: rgb(232, 229, 213);
    color: rgb(46, 20, 3);
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 150px;
    color: rgb(142, 52, 29);
    width: auto;
    font-weight: 600;
    text-align: center;
    margin: 50px auto;
    letter-spacing: 3px;
}

img {
    width: 100%; 
    max-width: 100%; 
    height: auto;
    border: 5px solid hsl(30, 30%, 50%); 
    border-radius: 15px;
    display: block;
    margin: 0 auto 30px auto; 
}
  
.recipe-sections {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 250px;
    margin: 15px;
}

.footer{
    text-align: center;
}
 
.no-p {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}