body {
    background-color: rgb(232, 229, 213);
    color: rgb(46, 20, 3);
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  h1 {
    font-size: 90px;
    color: rgb(46, 20, 3);
    width: auto;
    font-weight: 400;
    text-align: center;
    margin: 50px auto;
    letter-spacing: 6px;
  }

  img {
    width: 500px;
    height: auto;
    border: 5px hsl(hue, saturation, lightness); 
    border-radius: 15px;
    margin-left: auto;
    
  }

  .recipe-sections {
    display:flex;
   justify-content: space-between;
   align-items:flex-start;
   gap: 250px;
   margin: 15px;

  }
.footer{
   text-align: center;
}
 